body,
html {
    width: 100%;
    margin: 0;
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
    background-image: url(./Images/stars\ bg.jpeg);
    background-size: cover;
}

/* dark background */
.darkenbg {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 8, 11, 0.7);
    width: 100vw;
    height: 100vh;
}
/* common elements */
#landingpage, #blog, #shop, #quotes, #sort {
    height: 100vh;
}
.lhs,
.rhs {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.rhs {
    height: 60%;
}
#blog .lhs, #quotes .rhs, #sort .lhs, #shop .rhs {
    flex-direction: column;
    justify-content: center;
    width: 30%;
}
#blog .rhs, #quotes .lhs, #shop .lhs{
    width: 45%;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
/* NON-COMMON ELEMENTS */
/* landing page */
#landingpage {
    display: flex;
    flex-direction: column;
    background: url(./Images/Harry\ Potter\ Wallpaper\ desktop.jpg);
    background-size: cover;
}
#landingpage header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

.image>img {
    width: 85%;
}

.tag {
    font-size: x-large;
    text-align: center;
}

#landingpage .links {
    height: 20vh;
    display: flex;
    justify-content: center;   
    align-items:center;
}

#landingpage .join,
#landingpage .signed {
    font-size: 20px;
    line-height: 35px;
    padding: 0px 10px;
    margin: 0px 10px;
    border-radius: 50px;
}

#landingpage .join {
    color: #F4D35E;
    background-color: rgba(0, 8, 11, 0.7);
    border: 2px solid #F4D35E;
    padding: 4px 20px;
}

#landingpage .signed {
    background-color: rgba(211, 211, 211, 0.2);
    border: 2px solid white;
    padding: 4px 20px;
}

#landingpage footer>div{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
#diamond1, #diamond2, #diamond3{

    transform: rotate(45deg);
    border: 2px solid #F4D35E;
}

#diamond2 {
    height: 25px;
    width: 25px;
}

#diamond3 {
    height: 10px;
    width: 10px;
}

#blog .rhs {
    justify-content: space-around;
}

.blogleft,
.blogright {
    height: 90%;
    filter: brightness(0.7);
}

.blogmiddle {
    position: absolute;
    height: 70%;
}

.link {
    color: #F4D35E;
    border: 2px solid #F4D35E;
    border-radius: 30px;
    padding: 2% 15%;
    margin-top: 6%;
}

#quotes .lhs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
}

#quotes .lhs div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#quotes .lhs div img{
    width: 20%;
    height: auto;
}

#quotes .lhs div span{
    font-size: large;
    border-radius: 71px;
    padding: 5px 30px;
}

#quotes .lhs div .white{
    border: 3px solid #FFFFFF;
}

.yellow{
    color:#F4D35E;
    border: 3px solid #F4D35E;
}

#sort>.rhs{
    display: flex;
    width: 40vw;
    justify-content: center;
}

#sort .rhs div{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#sort .rhs img{
    width: 50%;
}
#shop{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#shop header{
    height: 45vh;
}
#shop footer {
    height: 35vh;
    border-radius: 10px;
}
#shop footer .container{
    border: 1px solid white;
}
#shop footer .lhs{
    width: 55vw;
    flex-direction: column;
}
#shop footer .top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
}
#shop footer .top>img {
    width: 50vw;
    height: auto;
}

#shop footer .tagline{
    font-size: 65%;
    width: 70%;
}
footer .menu{
    display: flex;
    align-items: center;
    font-size: medium;
    color: #F4D35E;
}
.vertical {
    height: 27vh;
    border-left: 1px solid white;
}
#shop footer .we {
    font-size: 70%;
    width: 70%;  
}

@media screen and (max-width: 950px) {
    /*COMMON ELEMENTS*/
    body{
        width: 100vw;
    }
    #blog>.container, #sort>.container {
        flex-direction: column-reverse;
    }
    #shop .container, #quotes>.container {
        flex-direction: column;
    }
    #shop header, #shop footer{
        height: 100vh;
    }
    nav {
        display: none;
    }
    .desktop{
        display: none;
    }
    .lhs, .rhs {
        height: 50vh;
    }   
    /* NON-COMMON ELEMENTS*/
    #landingpage{
        background-image: url(./Images/Harry\ Potter\ Wallpaper\ mobile.jpg);
    }
    #landingpage header{
        height: 75vh;
        justify-content: center;
    }
    #landingpage #title{
        display: flex;
        flex-direction: column;
        height: 30vh;
        justify-content: center;
        align-items: center;
    }
    #landingpage .image .mobile{
        width: 95vw;
    }
    #landingpage #title span{
        color: #F4D35E;
    }
    #landingpage .links{
        height: 7vh;
    }
    #landingpage .links span{
        padding: 0.5px 15px;
        font-size: small;
    }
    #landingpage footer{
        height:25vh;
        display: flex;    
        justify-content: center;
        align-items: center;
    }
    #landingpage footer>div{
        height: 22vh;
    }
    #diamond1{
        height: 40px;
        width: 40px;
    }
    .blogleft,
    .blogright {
        height: 50%;
    }
    .blogmiddle {
        height: 45%;
    }

    .tag {
        font-size: large;
        width: 70vw;
    }
    #quotes .lhs{
        width: 90vw;
        margin-top: 10%;
        height: 100vh;
    }
    #quotes .lhs div .white ,#quotes .lhs div .yellow{
        width: 45vw;
        border-radius: 15px;
    }
    .link{
        width: 45vw;
    }
    #sort .rhs{
        justify-content: center;
        width: 85vw;
    }
    #sort .rhs div{
        height: 50vh;
        align-items: center;
        justify-content: space-around;
    }
    #sort .rhs div img{
        justify-self: center;
        width: 80%;
    }
    #shop .darkenbg{
        height: 200vh;
    }
    #shop{
        height: 200vh;    
    }
    #shop footer {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    #shop footer .container{
        height: 90vh;
        width: 90vw;
    }
    #shop footer .container .lhs{
        height: 45vh;
        width: 85vw;
        justify-content: space-around;
    }
    #shop footer .container .rhs{
        height: 30vh;
    }
    #shop footer .container .lhs .mobile{
        width: 85vw;
        height: auto;
    }
    #shop footer .container .lhs .top span{
        width: 70vw;
        font-size: small;
        justify-self: center;
        line-height: 3vh;
    }
    #shop footer .top{
        height: 20vh;
    }
    #shop footer .menu{
        flex-direction: column;
    }
    #shop footer .vertical{
        border: 1px;
        height: 0.5px;
        width: 80vw;
        background-color: white;
    }
    #shop footer .we {
        width: 70vw;
    }
}
@media screen and (min-width: 950px){
    .mobile{
        display: none;
    }
    #landingpage .tagline {
        font-size: 4vh;
    }
    #quotes .lhs div .white{
        border: 3px solid #FFFFFF;
        width: 50%;
    }
    #shop footer .rhs{
        width: 40vw;
    }
    .yellow{
        color:#F4D35E;
        border: 3px solid #F4D35E;
        width: 60%;
    }
    nav {
        display: flex;
        justify-content: space-around;
        width: 60vw;
        height: 10vh;
        align-items: center;
    }
    #sort .rhs #topleft, #sort .rhs #topright,
    #sort .rhs #bottomleft, #sort .rhs #bottomright{
        width: 7vw;
    }
    footer .menu{
        width: 40vw; 
        justify-content: space-between;
    }
}
